.filter-control {
    height: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.filter-wrapper {
    gap: 10px;
}

.table-responsive {
    padding-top: 15px;
}

#dtPreview {
    margin-top: 10px ;
}
#dtShift {
    margin-top: 10px ;
}

#tabel1{
    margin-top: 10px ;
}

#dtTabel thead th {
    text-align: center;
    vertical-align: middle;
}

#dtTabel tbody td:last-child {
    text-align: center 
}

#tblJadwal th,
#tblJadwal td {
    white-space: nowrap;
    font-size: 13px;
}

.sticky-col {
    position: sticky;
    left: 0;
    z-index: 2;
    min-width: 220px;
}

thead .sticky-col {
    z-index: 3;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.2s ease;
    pointer-events: none;
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}

