.table-responsive {
    padding-top: 10px;
}
#dtPreview {
    margin-top: 10px ;
}
#dtShift {
    margin-top: 10px ;
}
#dtTabel thead th {
    text-align: center;
    vertical-align: middle;
}
#dtTabel tbody td:last-child {
    text-align: center 
}

